body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: rgb(39, 39, 39);
}

.text p, .box-surprise p,.box-surprise-error p {
    color: rgb(54, 154, 215);
    font-size: 1.3em;
    font-weight: 800;
    
}

.text{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    width: 600px;
    height: 200px;
    gap: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(54, 54, 54, 0.5);
    margin:2em;
}

.box h2, text p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.box input{
    width: 300px;
    padding: 1.2em;
}

button{
    width: 5rem;
    height: 2rem;
    background-color: rgba(32, 117, 186, 0.742);
    color: #dad9d9;
    font-size: 1.2em;
    border-radius: 5px;
}

button:hover{
    color: white
}

.box-surprise, .box-surprise-error{
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(213, 213, 213);
    border-radius: 15px;
    width: 70%;
}

.box-surprise p, .box-surprise-error p{
    font-size: 3em;
    text-align: center;
    color: rgb(5, 5, 5);
}

.box-surprise , .box-surprise-error{
    box-shadow: 5px 5px 15px rgba(54, 54, 54, 0.5);

}


@media screen and (max-width: 768px){
    .box{
        width: auto;
    }
    h2{
        font-size: 1.3em;
    }
    .text{
        margin-top:2em;
    }
    .box-surprise p, .box-surprise-error p{
        font-size: 1.5em;
    }
    .box-surprise,.box-surprise-error{
        margin-top: 1em;
    }
}

@media screen and (max-width: 480px){
    h2{
        font-size: 1em;
    }

    .text{
        font-size: 0.8em;
    }
    
    .text p{
        margin-top: 10px;
    }

    .box input{
        width:80%;
    }

    button{
        margin-bottom:0.8em;
    }

    .box, .box-surprise,.box-surprise-error{
        margin-top: 0.5em;
    }
}

@media screen and (max-width: 320px){
    .text{
        padding-top: 1em;
        margin-top: 1em;
    }
}

