*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(0.25turn, #6e6f6f, #7e8778, #6f6f6f)
}

.text p, .box-surprise p,.box-surprise-error p {
    color: white;
    font-size: 1.3em;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    width: 600px;
    height: 200px;
    gap: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(54, 54, 54, 0.5);
    margin:2em;
}

.box h2, text p{
    font-family: Arial, Helvetica, sans-serif;
}

.box input{
    width: 300px;
    padding: 1.2em;
}

button{
    width: 5rem;
    height: 2rem;
    background-color: rgba(40, 165, 1, 0.742);
    color: #cacaca;
    font-size: 1.2em;
    border-radius: 5px;
}

button:hover{
    color: white
}

.box-surprise, .box-surprise-error{
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(213, 213, 213);
    border-radius: 15px;
    width: 80%;
}

.box-surprise p, .box-surprise-error p{
    font-size: 3em;
    text-align: center;
    color: rgb(5, 5, 5);
}

.box-surprise , .box-surprise-error{
    box-shadow: 5px 5px 15px rgba(54, 54, 54, 0.5);

}


@media screen and (max-width: 768px){
    .box{
        width: auto;
    }
    h2{
        font-size: 1.3em;
    }
    .text{
        margin-top:2em;
    }
}

